# Local dependencies and build outputs
/vcpkg_installed/
/Release/
/FastRelease/
/lib/
target/
compile_commands.json
mcpp-generated/
/GalTranslPP/qt_gpp_en.qm

# Files populated by Release.bat
/Example/BaseConfig/opencc/
/Example/BaseConfig/Python-3.12.10-embed-amd64/
