[submodule "3rdParty/pybind11"]
	path = 3rdParty/pybind11
	url = https://github.com/julixian/pybind11.git
[submodule "3rdParty/ElaWidgetTools"]
	path = 3rdParty/ElaWidgetTools
	url = https://github.com/julixian/ElaWidgetTools.git
